/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
  font-family: Roboto;
}

.custom-snackbar{
  text-align: center;
  color: #fff;

  .mat-simple-snackbar{
    justify-content: center !important;
  }

  &.--success{
    background-color: #2196f3!important;
  }

  &.--error{
    background-color: rgba(246, 33, 0, 0.76) !important;
  }

}

.mat-dialog-actions{
  justify-content: center;
  &>button{
    margin: 0 25px;
  }
}
